<!DOCTYPE html>
<html>

<!-- HEAD-->
<%- include("./partials/head") %>

<script defer src="/js/register.js"></script>
    <body class="bi">



        <main>
            <div class="container mt-5 rounded shadow">

                <div class="row align-items-stretch">
                  <div class="col bg d-none d-md-block col-md-5 col-lg-5 col-xl-6"></div>
        
        
                  <div class="col bg-white p-5 rounded-end">
        
                    <div class="text-end">
        
                      <img src="images/icon.jpg" width="48" alt="logo">
        
                    </div>
                    <h2 class="fw-bold text-center py-5"> DevGram </h2>
            <form action="/register" method="post" class="container login-form" enctype="multipart/form-data"
                id="register-form">
                <div class="mb-4">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="name" class="form-control" name="name" placeholder="Insertar Nombre" value="<%= locals.oldData ? oldData.name : null  %>">
                    <% if (locals.errors && errors.name) { %>
                      <div class="errorLoginBack"><label>
                              <%= errors.name.msg %>
                          </label></div>
                      <% } %>
                          <div class="errorLogin" id="register-error-name"></div>
    
                  </div>
                  <div class="mb-4">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="lastName" class="form-control" name="lastName" placeholder="Insertar Apellido" value="<%= locals.oldData ? oldData.lastName: null  %>">
                    <% if (locals.errors && errors.lastName) { %>
                      <div class="errorLoginBack"><label>
                              <%= errors.lastName.msg %>
                          </label></div>
                      <% } %>
                          <div class="errorLogin" id="register-error-last-name"></div>
    
                  </div>
                  <div class="mb-4">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email"  value="<%= locals.oldData ? oldData.email: null  %>">
                    <% if (locals.errors && errors.email) { %>
                      <div class="errorLoginBack"><label>
                              <%= errors.email.msg %>
                          </label></div>
                      <% } %>
                          <div class="errorLogin" id="register-error-mail"></div>
    
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password"  value="<%= locals.oldData ? oldData.password: null  %>">
                    <% if (locals.errors && errors.password) { %>
                      <div class="errorLoginBack"><label>
                              <%= errors.password.msg %>
                          </label></div>
                      <% } %>
                          <div class="errorLogin" id="register-error-password"></div>
    
                  </div>
                  <div class="mb-4">
                    <label for="repassword" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" name="repassword" >
                    <% if (locals.errors && errors.repassword) { %>
                      <div class="errorLoginBack"><label>
                              <%= errors.repassword.msg %>
                          </label></div>
                      <% } %>
                          <div class="errorLogin"
                              id="register-error-check-password"></div>
    
                  </div>
                  <div class="mb-4">
                    <label for="userImage" class="form-label">Imagen de perfil</label>
                    <input type="file" class="form-control" name="userImage">
                    <% if (locals.errors && errors.userImage) { %>
                      <div class="errorLoginBack"><label>
                              <%= errors.userImage.msg %>
                          </label></div>
                      <% } %>
                          <div class="errorLogin" id="register-error-file"></div>
    
                  </div>
                  
                  <div class="mb-4 form-check">
                    <label for="isAdmin" class="form-check-label">
                    <input type="checkbox" class="form-check-input" name= 'isAdmin' id="userAdmin"> isAdmin</label>
    
                  </div>
                  
                  <div class="d-grid" >
                    <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                  </div>
                  <div class="my-3">
    
                    <span>¿Ya tienes cuenta? <a href="/">Ingresa</a></span> <br>
                    <span><a href="#"> Recuperar password</a></span>
    
                  </div>

            </form>
            </div>
            </div>
        </main>


    </body>

</html>